<form>
  <h1>Welcome!</h1>
  <div class="mb-3">
    <label for="userName" class="form-label">User Name</label>
    <input
      type="text"
      class="form-control"
      id="userName"
      [(ngModel)]="user_name"
      name="user_name"
    />
  </div>
  <div class="mb-3">
    <label for="password" class="form-label">Password</label>
    <input
      [(ngModel)]="user_password"
      type="password"
      class="form-control"
      id="password"
      name="user_password"
    />
  </div>
  <div class="mb-3">
    <label for="firstName" class="form-label">First Name</label>
    <input
      [(ngModel)]="user_first_name"
      type="text"
      class="form-control"
      id="firstName"
      name="user_first_name"
    />
  </div>
  <div class="mb-3">
    <label for="lastName" class="form-label">Last Name</label>
    <input
      [(ngModel)]="user_last_name"
      type="text"
      class="form-control"
      id="lastName"
      name="user_last_name"
    />
  </div>
  <div class="mb-3">
    <label for="email" class="form-label">Email</label>
    <input
      [(ngModel)]="user_email"
      type="email"
      class="form-control"
      id="email"
      name="user_email"
    />
  </div>
  <div id="buttonGroup">
    <button
      type="button"
      class="btn btn-danger"
      id="signInButton"
      (click)="toggleEventForm(false)"
    >
      Cancel
    </button>
    <button
      (click)="registerNewUser()"
      type="button"
      class="btn btn-success"
      id="registerButton"
    >
      Submit
    </button>
  </div>
  <div *ngIf="errorMessage" id="errorDiv">
    <p>{{ errorMessage }}</p>
  </div>
</form>
