<div id="containerDiv">
  <app-accounts-display
    (accountChangeEvent)="updateActiveAccount($event)"
  ></app-accounts-display>
  <div id="buttonGroup">
    <button
      type="button"
      class="btn btn-primary"
      (click)="setAllTransactions()"
    >
      All Transactions
    </button>
    <button type="button" class="btn btn-danger" (click)="setDebits()">
      Track Debits
    </button>
    <button type="button" class="btn btn-success" (click)="setCredits()">
      Track Credits
    </button>
  </div>
  <app-transactions-table
    [transactionList]="currentTransactionList"
  ></app-transactions-table>
</div>
