<div id="containerDiv">
  <app-accounts-display
    (accountChangeEvent)="updateActiveAccount($event)"
    [updateTablePassedFun]="updateTable"
    [account_number]="activeAccount.account_number"
    [accountList]="accountList"
    [updateAccountListPassedFun]="updateAccountList"
    [activeAccount]="activeAccount"
  ></app-accounts-display>

  <div id="buttonGroup">
    <button
      id="btn1"
      type="button"
      class="btn btn-primary"
      (click)="setAllTransactions(); changeAllTransactionsbtnStyle()"
    >
      All Transactions
    </button>
    <button
      id="btn2"
      type="button"
      class="btn btn-primary"
      (click)="setExpenses(); changeExpensesbtnStyle()"
    >
      Expenses
    </button>
    <button
      id="btn3"
      type="button"
      class="btn btn-primary"
      (click)="setDeposits(); changeDepositsbtnStyle()"
    >
      Deposits
    </button>
  </div>

  <div id="tableButtonGroupOutFlex">
    <h5>{{ tableName }}</h5>
    <app-transactions-table
      [transactionList]="currentTransactionList"
    ></app-transactions-table>
  </div>
</div>
