header {
  margin: 0px;
  background-color: #bd3a3a;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 125px;
}

div {
  display: flex;
  align-items: center;
}

h1 {
  color: white;
  font-weight: bold;
  font-size: 6vh;
  padding: 0px 30px;
  font-family: "Passion One", cursive;
  text-shadow: 2px 0 0 #000, 0 -2px 0 #000, 0 2px 0 #000, -2px 0 0 #000;
}

nav {
  padding: 0px 50px;
}

a,
a:link,
a:visited,
a:hover,
a:active {
  color: white;
  font-weight: bold;
  font-size: 1.5vh;
}
