#containerDiv {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 75%;
    justify-content: center;
    align-items: center;
    padding:  10px;
}

#profileDetailsDiv {
    justify-content: center;
    padding-bottom: 50px;
}

#detailsDiv {
    display: flex;
    flex-direction: row;
    padding: 30px 10px;
    width: 45%;
    height: 350px;
    border-style: solid;
    border-radius: 30px;
    justify-content: space-around;
    flex-direction: row;
    background-color: #F3F3F3;
}

#identifier {
    display: flex;
    justify-content: space-between;
    width: 175px;
    align-items: flex-end;
    flex-direction: column;
    font-weight: 500;
    
}

#userInfo {
    display: flex;
    justify-content: space-between;
    width: 200px;
    align-items: center;
    flex-direction: column;
   
}

#buttons {
    display: flex;
    justify-content: flex-end;
    width: 175px;
    flex-direction: column;
  
}

#changeEmail {
    display: flex;
    padding: 27px 0px 31px;
    border: none;
    background: none;
    color: blue;
    justify-content: flex-start;
}

#changePassword {
    display: flex;
    padding: 31px 0px 27px;
    border: none;
    background: none;
    color: blue;
    justify-content: flex-start;
}