<div id = "containerDiv">
    <div id = "profileDetailsDiv">
        <h2>Profile Details</h2>
    </div>
    <div id = "detailsDiv">
       <div id = "identifier">
            <p>User Name:</p>
            <p>First Name:</p>
            <p>Last Name:</p>
            <p>Email Address:</p>
            <p>Password:</p>
        </div>
       <div id = "userInfo">
            <p>(user_name)</p>
            <p>(user_first_name)</p>
            <p>(user_last_name)</p>
            <p>(user_email)</p>
            <p>(user_password)</p>
       </div>
       <div id = "buttons">
        <button mat-button id = "changeEmail">Change Email</button>
        <button mat-button id = "changePassword">Change Password</button>
       </div>
    </div>
</div>