<div id="mainDiv">
  <button id="close-image" (click)="openDialog()">
    <img src="../../../../../../assets/images/plus_Icon.png" />
  </button>
  <div id="accountList">
    <app-account-cards
      *ngFor="let acct of accountList"
      [account]="acct"
      (emitAccount)="updateActiveAccount($event)"
    ></app-account-cards>
  </div>
  kkkk

  <div id="accountSummary">
    <app-account-balance [currentAccount]="activeAccount"></app-account-balance>
  </div>
</div>
<div id="transferDiv">
  <button (click)="openDialogTransfer()">Transfer</button>
  <app-account-transfer
    [accountList]="accountList"
  ></app-account-transfer>
</div>
