#accountList {
  display: flex;
  background-color: rgba(162, 83, 83, 0.414);
  width: 900px;
  overflow-x: scroll;
  height: fit-content;
  margin: 0px 30px;
}

#mainDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  background-color: rgba(211, 211, 211, 0.566);
  padding: 10px 0px;
}
