<div id="mainDiv">
  <div id="accountList">
    <app-account-cards
      *ngFor="let acct of accountList"
      [account]="acct"
      (emitAccount)="updateActiveAccount($event)"
    ></app-account-cards>
  </div> kkkk

  <div id="accountSummary">
    <app-account-balance [currentAccount]="activeAccount"></app-account-balance>
  </div>
</div>
<div id="transferDiv">
  <button (click)="toggleTransfer(!showTransfer)">Transfer</button>
  <app-account-transfer
    [accountList]="accountList"
    *ngIf="showTransfer"
  ></app-account-transfer>
</div>
