<div id="TransactionsDiv">
  <table id="TransactionsTable">
    <thead>
      <tr>
        <th>Date</th>
        <th>Description</th>
        <th>Amount</th>
        <th>Type</th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="let tempTransaction of transactionList; index as i"
        [style]="{ 'background-color': i % 2 == 0 ? '#D9D9D9' : '#FFFFFF' }"
      >
        <td>{{ tempTransaction.tx_date }}</td>
        <td>{{ tempTransaction.tx_description }}</td>
        <td
          *ngIf="tempTransaction.tx_type == 'debit'"
          [style]="{ color: 'red', 'border-color': 'black' }"
        >
          $ -{{ tempTransaction.tx_value.toFixed(2) }}
        </td>
        <td
          *ngIf="tempTransaction.tx_type == 'credit'"
          [style]="{ color: 'green', 'border-color': 'black' }"
        >
          $ +{{ tempTransaction.tx_value.toFixed(2) }}
        </td>
        <td>{{ tempTransaction.tx_type }}</td>
      </tr>
    </tbody>
  </table>
</div>
