main {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

#mainSection {
  display:flex;
  width:100%;
  flex-direction: column;
  
}

#mainSection div {
  display:flex;
  flex-direction: row;
  background-image: url("../../../../assets/images/bankImg.png");
  background-size: cover;
  background-repeat: no-repeat;
  margin: 48px;
  height: 78vh;
  width: 95%;
  justify-self: center;
  align-self: center;
}
